<footer>
    <div class="divider">
    </div>
    <p class="legal">No Purchase Necessary. Contest closes June 5th, 2016 at 9:59am, ET. To win you must correctly answer a mathematical skill testing question. Grand Prize to be redeemed as $5000 CAD The Brick Gift Card. Full contest rules available at <a href="http://www.wnetwork.com/" target="_blank">WNetwork.com</a>. Winners will be determined by a random draw. *Contest open to residents of Canada over the age of majority, excluding Quebec</p>
    <div class="logos">
    	<a href="http://www.thebrick.com/" class="footer-button" target="_blank"><img src="img/brick-logo.jpg" alt=""></a>
    	<a href="http://www.wnetwork.com/" class="footer-button" target="_blank"><img src="img/w-network-logo.jpg" alt=""></a>
    </div>
    <div class="links">
    	<ul>
    		<a href="http://www.wnetwork.com/terms-of-use" class="footer-button"><li>Terms of Use</li></a>
    		<a href="http://www.wnetwork.com/privacy-policy" class="footer-button"><li>Privacy Policy</li></a>
    	</ul>
    </div>
</footer>
