<!-- WEEK 1 -->
<div class="width-quarter">
    <img src="img/week-1-house-1.jpg" alt="">
    <input type="radio" value="week_1_house_1" name="room" />
    <label for="week_1_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-1-house-2.jpg" alt="">
    <input type="radio" value="week_1_house_2" name="room" />
    <label for="week_1_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-1-house-3.jpg" alt="">
    <input type="radio" value="week_1_house_3" name="room" />
    <label for="week_1_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-1-house-4.jpg" alt="">
    <input type="radio" value="week_1_house_4" name="room" />
    <label for="week_1_house_4">Room 4</label>
</div>
<!-- WEEK 2 -->
<div class="width-quarter">
    <img src="img/week-2-house-1.jpg" alt="">
    <input type="radio" value="week_2_house_1" name="room" />
    <label for="week_2_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-2-house-2.jpg" alt="">
    <input type="radio" value="week_2_house_2" name="room" />
    <label for="week_2_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-2-house-3.jpg" alt="">
    <input type="radio" value="week_2_house_3" name="room" />
    <label for="week_2_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-2-house-4.jpg" alt="">
    <input type="radio" value="week_2_house_4" name="room" />
    <label for="week_2_house_4">Room 4</label>
</div>
<!-- WEEK 3 -->
<div class="width-quarter">
    <img src="img/week-3-house-1.jpg" alt="">
    <input type="radio" value="week_3_house_1" name="room" />
    <label for="week_3_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-3-house-2.jpg" alt="">
    <input type="radio" value="week_3_house_2" name="room" />
    <label for="week_3_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-3-house-3.jpg" alt="">
    <input type="radio" value="week_3_house_3" name="room" />
    <label for="week_3_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-3-house-4.jpg" alt="">
    <input type="radio" value="week_3_house_4" name="room" />
    <label for="week_3_house_4">Room 4</label>
</div>
<!-- WEEK 4 -->
<div class="width-quarter" id="startslide">
    <img src="img/week-4-house-1.jpg" alt="">
    <input type="radio" value="week_4_house_1" name="room" />
    <label for="week_4_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-4-house-2.jpg" alt="">
    <input type="radio" value="week_4_house_2" name="room" />
    <label for="week_4_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-4-house-3.jpg" alt="">
    <input type="radio" value="week_4_house_3" name="room" />
    <label for="week_4_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-4-house-4.jpg" alt="">
    <input type="radio" value="week_4_house_4" name="room" />
    <label for="week_4_house_4">Room 4</label>
</div>
<!-- WEEK 5 -->
<!-- <div class="width-quarter">
    <img src="img/week-5-house-1.jpg" alt="">
    <input type="radio" value="week_5_house_1" name="room" />
    <label for="week_5_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-5-house-2.jpg" alt="">
    <input type="radio" value="week_5_house_2" name="room" />
    <label for="week_5_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-5-house-3.jpg" alt="">
    <input type="radio" value="week_5_house_3" name="room" />
    <label for="week_5_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-5-house-4.jpg" alt="">
    <input type="radio" value="week_5_house_4" name="room" />
    <label for="week_5_house_4">Room 4</label>
</div> -->
<!-- WEEK 6 -->
<!-- <div class="width-quarter">
    <img src="img/week-6-house-1.jpg" alt="">
    <input type="radio" value="week_6_house_1" name="room" />
    <label for="week_6_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-6-house-2.jpg" alt="">
    <input type="radio" value="week_6_house_2" name="room" />
    <label for="week_6_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-6-house-3.jpg" alt="">
    <input type="radio" value="week_6_house_3" name="room" />
    <label for="week_6_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-6-house-4.jpg" alt="">
    <input type="radio" value="week_6_house_4" name="room" />
    <label for="week_6_house_4">Room 4</label>
</div> -->
<!-- WEEK 7 -->
<!-- <div class="width-quarter">
    <img src="img/week-7-house-1.jpg" alt="">
    <input type="radio" value="week_7_house_1" name="room" />
    <label for="week_7_house_1">Room 1</label>
</div>
<div class="width-quarter">
    <img src="img/week-7-house-2.jpg" alt="">
    <input type="radio" value="week_7_house_2" name="room" />
    <label for="week_7_house_2">Room 2</label>
</div>
<div class="width-quarter">
    <img src="img/week-7-house-3.jpg" alt="">
    <input type="radio" value="week_7_house_3" name="room" />
    <label for="week_7_house_3">Room 3</label>
</div>
<div class="width-quarter">
    <img src="img/week-7-house-4.jpg" alt="">
    <input type="radio" value="week_7_house_4" name="room" />
    <label for="week_7_house_4">Room 4</label>
</div> -->
