$lightgrey: #a5a5a5;
$darkgrey: #556970;
$black: #000;
$white: #fff;
$red: #ee1c2e;
$darkred: #5f0b12;

 @mixin breakpoint($point) {
  @if $point == xxsmall {
     @media (max-width: 400px)  { @content ; }
  }
  @if $point == xsmall {
     @media (max-width: 640px)  { @content ; }
  }
  @if $point == special {
     @media (max-width: 520px)  { @content ; }
  }
  @if $point == small {
     @media (max-width: 768px)  { @content ; }
  }
  @if $point == medium {
     @media (max-width: 991px)  { @content ; }
  }
}
