
@font-face {
  font-family: 'AlternateGotNo3D';
  src: url('../fonts/AlternateGotNo3D.eot?#iefix') format('embedded-opentype'),  url('../fonts/AlternateGotNo3D.woff') format('woff'), url('../fonts/AlternateGotNo3D.ttf')  format('truetype'), url('../fonts/AlternateGotNo3D.svg#AlternateGotNo3D') format('svg');
  font-weight: normal;
  font-style: normal;
}
