.hero {
	width: 100%;
	position: relative;
	text-align: center;
	img {
		width: 100%;
	}
	.enter {
		padding: 16px 112px 8px;
		font-family: "AlternateGotNo3D", sans-serif;
		text-transform: uppercase;
		color: $white;
		line-height: 1;
		background-color: $red;
		font-size: 3.6rem;
		position: absolute;
		right: 0;
		bottom: 70px;
		&:hover {
			// color: $red;
			background-color: $darkgrey;
		}
		@include breakpoint(small) {
			position: relative;
			bottom: -16px;
			margin: 12px auto;
		}
	}
}

.headline {
	width: 100%;
	background: url('../img/headline-bg.jpg') repeat-y;
	h2 {
		font-size: 3rem;
		color: $white;
		margin: 0;
		padding: 16px 0;
		text-align: center;
	}
}

.controls {
	width: 100%;
	height: auto;
	position: relative;
	font-size: 1.8rem;
	font-family: "AlternateGotNo3D", sans-serif;
	color: $white;
	text-transform: uppercase;
	line-height: 1;
	.prev {
		float: left;
		margin-top: 12px;
		padding: 12px 24px 8px;
		background: $lightgrey;
		cursor: pointer;
		&:hover {
			background: $red;
		}
	}
	.next {
		float: right;
		margin-top: 12px;
		padding: 12px 24px 8px;
		background: $lightgrey;
		cursor: pointer;
		&:hover {
			background: $red;
		}
	}
}

.rooms {
	font-size: 0;
	clear:both;
	display: block;
	.width-quarter {
		img {
			width: 100%;
			padding-right: 2px;
			opacity: 0.3;

		}
		&.thisweek {
			img {
				opacity: 1;
			}
			label {
				opacity: 1;
			}
		}
		&:nth-child(4n+4) {
			img {
				padding-right: 0;
			}		
		}
		label {
			opacity: 0.3;
		}
	}
}

.content {
	text-align: center;
	@include breakpoint(small) {
		margin-top: 40px;
	}
	h3 {
		padding: 0 60px;
		font-size: 2.2rem;
		&:first-child {
			margin: 30px 0;
		}
		&.no-margin {
			margin-bottom: 10px;
		}
	}
	h1 {
		padding: 0 60px;
		padding-bottom: 30px;
		font-size: 3.6rem;
		&.sixty {
			font-size: 6rem;
		}
	}
	h2 {
		padding: 0 60px;
		font-size: 2.6rem;
		color: $darkgrey;
	}
	.goh-logo {
		width: auto;
		display: inline-block;
	}
	p {
		margin: 10px 20px;
		font-size: 2rem;
		display: inline-block;
		font-family: "AlternateGotNo3D", sans-serif;
		text-transform: uppercase;
		font-size: 3.2rem;
		vertical-align: top;
		line-height: 1;
		color: $darkgrey;
		a {
			text-decoration: underline;
			color: $darkgrey;
		}
	}
}

.divider {
	width: 100%;
	img {
		width: 100%;
		max-width: 810px;
	}
}